@font-face {
  font-family: "iconfont"; /* Project id 4079331 */
  src: url('iconfont.woff2?t=1684774302036') format('woff2'),
       url('iconfont.woff?t=1684774302036') format('woff'),
       url('iconfont.ttf?t=1684774302036') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon:before {
  content: "\e6a0";
}

.xiajiantou:before {
  content: "\eb6d";
}

.shangjiantou:before {
  content: "\eb6e";
}

.xiajiantou-copy:before {
  content: "\eb6f";
}

.shangjiantou-copy:before {
  content: "\eb70";
}

.shila:before {
  content: "\e60f";
}

.jiajujiafang:before {
  content: "\e60a";
}

.portfoliocaseb:before {
  content: "\e623";
}

.portfoliocase:before {
  content: "\e625";
}

.zawu:before {
  content: "\e665";
}

.xingbiao-:before {
  content: "\e612";
}

.chufang:before {
  content: "\e636";
}

.sousuo:before {
  content: "\e8b9";
}

.gouwuche-copy:before {
  content: "\e8bc";
}

.shouye-copy:before {
  content: "\e8bd";
}

.fenlei-copy:before {
  content: "\e8be";
}

.wode-copy:before {
  content: "\e8bf";
}

.gouwuche:before {
  content: "\e63f";
}

.shouye:before {
  content: "\e6cb";
}

.fenlei:before {
  content: "\e62f";
}

.wode:before {
  content: "\e8bb";
}

